{% extends 'admin/base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="icon" href="{% static 'imgs/logo2.jpg' %}">
{% endblock %}

{% block extratitle %}
    <title>Administration</title>
{% endblock  %}

{% block branding %}
<h1 id="head">
    <img src="{% static 'imgs/logo1.jpg' %}" alt="Zippy Real Estate" height="50px" width="70px">
    Zippy Real Estate Admin Area
</h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

